import type { CodegenConfig } from '@graphql-codegen/cli';
const config: CodegenConfig = {
  schema: '%SCHEMA%',
  documents: '%DOCUMENTS%/**/*.graphql',
  ignoreNoDocuments: true,
  generates: {
    '%FILENAME%': {
      plugins: [
        'typescript',
        'typescript-operations',
        'typescript-react-query',
      ],
      config: {
        maybeValue: 'T | undefined',
        scalars: { ID: 'number' },

        fetcher: '@kollors/react-codegen/graphql-fetcher#graphqlFetcher',
        legacyMode: false,
        omitOperationSuffix: true,
        reactQueryVersion: 5,
      },
    },
  },
};

export default config;
