import { defineConfig } from '@openapi-codegen/cli';
import { generateReactQueryComponents, generateSchemaTypes } from '@openapi-codegen/typescript';
import { readFileSync, rmSync, writeFileSync } from 'node:fs';
import { join } from 'node:path';

const tempDir = join('.react-codegen-temp', 'openapi');

const config = defineConfig({
  openapi: {
    from: { source: 'url', url: '%SCHEMA%' },
    outputDir: tempDir,
    to: async(context) => {
      const { schemasFiles } = await generateSchemaTypes(context, { filenamePrefix: '' });
      await generateReactQueryComponents(context, { filenamePrefix: '', schemasFiles });

      const contextStr = readFileSync(join(tempDir, 'context.ts'), 'utf-8').replace('import { QueryOperation } from "./components";', '');
      const schemasStr = readFileSync(join(tempDir, 'schemas.ts'), 'utf-8');
      const fetcherStr = `namespace Fetcher {\n${readFileSync(join(tempDir, 'fetcher.ts'), 'utf-8')}\n}`.replace('import { Context } from "./context";', '');
      const utilsStr = readFileSync(join(tempDir, 'utils.ts'), 'utf-8');

      const componentsStr = [
        '// @ts-nocheck',
        '/* eslint-disable */',
        readFileSync(join(tempDir, 'components.ts'), 'utf-8')
          .replace('import { fetch } from "./fetcher";', `${readFileSync('../openapi-fetcher.js', 'utf-8')}\n`)
          .replace('import { useContext, Context, queryKeyFn } from "./context";', '')
          .replace('import type * as Schemas from "./schemas";', '')
          .replace('import type * as Fetcher from "./fetcher";', '')
          .replace('import { deepMerge } from "./utils";', '')
          .replace(/Schemas\./g, ''),
        contextStr,
        schemasStr,
        fetcherStr,
        utilsStr,
      ].join('\n');

      writeFileSync('%FILENAME%', componentsStr, 'utf-8');
      rmSync(tempDir, { recursive: true });
    },
  },
});

export default config;
